
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>INVENTORY</title>
    <script src='https://code.jquery.com/jquery-2.1.3.min.js'></script>

    <!-- Bootstrap CSS -->
	
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	    
        <a class="navbar-brand" href="/">INVENTORY MANAGEMENT SYSTEM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      


        
      
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href='/item_master/item_master_list'>ITEM MASTER </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href='/supplier_master/supplier_master_list'>SUPPLIERS MASTER</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/purchase_master/purchase_master_list/">PURCHASE MASTER</a>
    
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/sale_master/sale_master_list/">SALE MASTER</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/report">REPORT</a>
                </li>
          
          
          
            {% comment %} {% if user.is_authenticated %}
            <h2 class="text-success"> Hi {{ user.username }}! </h2>
             <p><a  href="{% url 'logout' %}" >Log Out</a></p>
           {% else %}
             <p>You are not logged in</p>
             <a href="{% url 'login' %}">Log In</a>
           {% endif %} {% endcomment %}

        </div>
      </nav>
      <h1 class="text-center">Report</h1>
      <div class="container">
 
        <table class="table ml-5">
    
          <thead>
           
          <tbody>
      {% for r in allData %}
        
                  <tr>
                      <td>INVOICE NO.:{{r.invoice_no}}</td>
                      <td>INVOICE DATE:{{r.invoice_date}}</td>
                    
                  </tr>
                  <tr>
                    <td>PURCHASE ID:{{r.purchase_id}}</td>
                    <td> PURCHASE DATE:{{r.invoice_date}}</td>
                  
                </tr>
                <tr>
                  <td>SUPPLIER:{{r.supplier}}</td>
                  <td>ADDRESS:{{r.address}}</td>
                  <td> </td>
                
              </tr>
      {% endfor %}
      </tbody>
      </table>


  
        <section id="home" class="mt-5">
            <div class="container">
                
            
                <table class="table -hover table-success">
    
                    <thead>
                        <tr>
                            <th scope="col">SN</th>
                            <th scope="col">ITEM NAME</th>
                            <th scope="col">RATE</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">TOTAL</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                {% for r in allData1 %}
                  
                            <tr>
                              <th>{{forloop.counter}}</th>
                              <td>{{r.item_name}}</td>
                              <td>{{r.rate}}</td>
                              <td>{{r.quantity}}</td>
                              <td>{{r.total}}</td>
                                
                            </tr>
                {% endfor %}
                </tbody>
                </table>
               
    
            </div>
            </section>
      
   </div> 
    
   
	  <div class="container-fluid bg-dark mx-0">
  <footer class="py-3 my-3 mx-0">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Company, Inc</p>
  </footer>
</div>
  </body>
</html>